
<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <% for(let i of comments){%>
        <h2>id:<%=i.id%></h2>
       
   
       <h2>username:<%=i.username%></h2>
       <h2>comment:<%=i.Comment%></h2>
       <a href="/blogs/<%=i.id%>">Edit</a>
       <form action="/blog/<%=i.id%>?_method=DELETE" method="post">
         <button>DELETE</button>
       </form>
       <h1>-------------------------------------------------------------------</h1>

 <%  }%>
</body>
</html>