<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <a href="/bond/new">ADD</a>
   <% for(let i of comments){%>
        <h1>id:<%=i.id%></h1>
        <h1>title:<%=i.title%></h1>
        <h1>author:<%=i.author%></h1>
        <h1>year:<%=i.year%></h1>
        <a href="/bond/<%=i.id%>">Edit</a>
        <br>
      
        <form action="/bond/<%=i.id%>?_method=delete" method="post">
            <button>Delete</button>
         </form>
        <h1>-------------------------------------------------------------------</h1>
   
   <% }%>
</body>
</html>